@{
    ViewBag.Title = "DAD Home";
}

<div class="jumbotron">
    <h1>DAD - Digital Artist Database</h1>
    <p class="lead">This is an MVC exersize website!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About DAD</h2>
        <p>
            DAD is a place for artists to upload samples of their work and projects
            so that others may view and comment on them. Currently there are no 
            security features built into the site. This means that when creating
            a post for an artist, the user will select the artist that the post 
            belongs to.
        </p>
    </div>
</div>