@model  IEnumerable<DigitalArtistDatabase.Models.PictureFeaturedViewModel>



<h2>@ViewBag.Title</h2>

@foreach (var i in Model)
{
    @Html.DisplayFor(p => i.Image) <span>                          </span>
    @Html.DisplayFor(p => i.ViewCount) <span>        </span>
    @Html.DisplayFor(p => i.DatePosted)
    
    <br /><br /><br />
}

